$primaryBlue: #0854dd;
$primaryRed: #cd1327;
$primaryYellow: #ffe100;
$primaryGreen: #01b807;
$primaryBlack: #333;


$blueGradient: linear-gradient(to bottom right, #0854dd, #86b3e0);

$yellowGradient: linear-gradient(to bottom right, #ffe961, #e9cb11, #ffb100, #ff9200);

$redGradient: linear-gradient(to bottom right, #ff6702, #ff5202, #ff4107, #ff2718, #e90f00, #dd0f00);

$greenGradient: linear-gradient(to bottom right, #69ff79, #21c73e, #0d8f12, #025b0f);

$orangeGradient: linear-gradient(to bottom right, #ffb446, #ffa118, #fa870f, #ff7900, #ff6d00);
