$primaryBlue: #0854dd;
$primaryBlack: #333;

$blueGradient: linear-gradient(to bottom right, #0854dd, #86b3e0);
$blueGradientOnHover: linear-gradient(to bottom right, #93c6f9, #86b3e0, #0854dd);

$yellowGradient: linear-gradient(to bottom right, #ffe961, #e9cb11, #ffb100, #ff9200);
$yellowGradientOnHover: linear-gradient(to bottom right, #ff9200, #ffb100, #e9cb11, #ffe961);

$redGradient: linear-gradient(to bottom right, #ff9512, #ff701d, #ff5007, #ff2718, #e90f00);
