@import './variables';
@import './navBarLogo';

@font-face {
    font-family: metro;
    src: url(./fonts/metropolis/Metropolis-Regular.woff2);
}

* {
    font-family: metro, Roboto, Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
}

a {
    color: $primaryBlue;

    &:hover {
        text-decoration: none;
    }
}
