.nav {
    background-image: url("../images/k-logo.png");
    background-repeat: no-repeat;
    background-position: 8px;
    background-size: 150px;
    padding: 4px 0px;
}

.nav-tabs {
    padding-left: 160px;
}
