@import './buttons';
@import './opacity';

.img-thumbnail {
    border: none;
    box-shadow: none;
    height: 350px;
    width: auto;
}

.card {
    border: none;
    box-shadow: none;
    @include opacity;
}

.card-body {
    padding: 10px 2px 40px;
}

.card-title {
    padding-bottom: 7px;
}

.mark {
    background-color: #e9ecef;
}